<header>
  <h1 class="project-name">@cubitworx/angular-controls</h1>
  <h2 class="project-tagline">Enhanced form controls for Angular.</h2>

  <a class="btn" href="https://github.com/cubitworx/angular-controls" target="_blank">View on GitHub</a>
</header>

<section class="demo">

	<h3>Demo</h3>
	<form [formGroup]="_formGroup">
		<table>
			<tr>
				<th>Type</th>
				<th>Standard control</th>
				<th>Inline control</th>
				<th>Input</th>
				<th>Value</th>
			</tr>

			<!-- Multi select -->
			<tr>
				<td><label for="control-1">Multi select</label></td>
				<td><angular-control type="select" multiple formControlName="selectMulti" [items]="_valuelistItems" id="control-1"></angular-control></td>
				<td><angular-control type="ie-select" multiple formControlName="selectMulti" [items]="_valuelistItems" id="control-4"></angular-control></td>
				<td><input class="form-control" type="text" formControlName="selectMulti" /></td>
				<td>{{_formGroup.controls['selectMulti'].value}}</td>
			</tr>

			<!-- Single select -->
			<tr>
				<td><label for="control-2">Standard single select</label></td>
				<td><angular-control type="select" formControlName="selectSingle" [items]="_valuelistItems" id="control-2"></angular-control></td>
				<td><angular-control type="ie-select" formControlName="selectSingle" [items]="_valuelistItems" id="control-5"></angular-control></td>
				<td><input class="form-control" type="text" formControlName="selectSingle" /></td>
				<td>{{_formGroup.controls['selectSingle'].value}}</td>
			</tr>

			<!-- Date -->
			<tr>
				<td><label for="control-3">Date</label></td>
				<td><angular-control type="date" format="shortDate" formControlName="date" id="control-3"></angular-control></td>
				<td><angular-control type="ie-date" formControlName="date" id="control-6"></angular-control></td>
				<td><input class="form-control" type="text" formControlName="date" /></td>
				<td>{{_formGroup.controls['date'].value}}</td>
			</tr>

			<!-- Text -->
			<tr>
				<td><label for="control-7">Text</label></td>
				<td><input class="form-control" type="text" formControlName="text" /></td>
				<td><angular-control type="ie-text" formControlName="text" id="control-7"></angular-control></td>
				<td><input class="form-control" type="text" formControlName="text" /></td>
				<td>{{_formGroup.controls['text'].value}}</td>
			</tr>

		</table>
	</form>

</section>
